.about-page-content {
    width: 80%;
    margin: 5rem auto;
}

.about-container {
    display: flex;
    gap: 5rem;
}

.about-container div img {
    width: 20rem;
    border-radius: 0.5rem;
    /* border: 2px solid var(--accent-color); */
    transition: all 0.5s;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.content h2 a {
    font-size: 2rem;
    color: var(--accent-color);
    transition: all 0.5s;
    font-family: "Rubik";
    text-transform: uppercase;
    border-bottom: 1px solid var(--accent-color);
}

.content p {
    font-size: 1.2rem;
    font-family: 'Rubik';
    color: var(--txt-color);
    text-align: justify;
    transition: all 0.5s;
    opacity: 90%;
}

@media only screen and (max-width: 1300px) {
    .about-container div img {
        width: 19rem;
    }
    .content h2 a {
        font-size: 1.9rem;
    }
    .content p {
        font-size: 1.15rem;
    }
}
@media only screen and (max-width: 1200px) {
    .about-container div img {
        width: 18.5rem;
    }
    .content h2 a {
        font-size: 1.85rem;
    }
    .content p {
        font-size: 1.1rem;
    }
}
@media only screen and (max-width: 1050px) {
    .about-container div img {
        width: 18rem;
    }
    .content h2 a {
        font-size: 1.8rem;
    }
    .content p {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 900px) {
    .about-container div img {
        width: 18rem;
    }
    .content h2 a {
        font-size: 1.7rem;
    }
    .content p {
        font-size: 0.9rem;
    }
}
@media only screen and (max-width: 800px) {
    .about-container div img {
        width: 17rem;
    }
    .content h2 a {
        font-size: 1.65rem;
    }
    .content p {
        font-size: 0.85rem;
    }
}
@media only screen and (max-width: 700px) {
    .about-container div img {
        width: 16rem;
    }
    .content h2 a {
        font-size: 1.5rem;
    }
    .content p {
        font-size: 0.7rem;
    }
}
@media only screen and (max-width: 600px) {
    .about-container {
        flex-direction: column;
    }
    .about-container div img {
        display: flex;
        width: 18rem;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    .content h2 a {
        font-size: 1.65rem;
    }
    .content p {
        font-size: 0.8rem;
    }
    #reverse .about-container {
        flex-direction: column-reverse;
    }
}
@media only screen and (max-width: 500px) {
    .about-container div img {
        display: flex;
        width: 18rem;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    .content h2 a {
        font-size: 1.3rem;
    }
    .content p {
        font-size: 0.85rem;
    }
}