.events {
    position: relative;
    display: flex;
    width: 70%;
    margin: 0 auto;
    gap: 5rem;
}

.home-title {
    font-size: 3.5rem;
    color: var(--accent-color);
    font-family: 'Orbitron';
    text-align: center;
    margin-top: 5rem;
    transition: all 0.5s;
}

.about-event {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--txt-color);
}

.about-event h2 {
    font-family: 'Orbitron';
    font-size: 4.5rem;
    width: 100%;
    transition: all 0.5s;
    color: white;
    margin: 3rem 0;
    text-transform: capitalize;
}

.about-event p {
    width: 80%;
    text-align: justify;
    transition: all 0.5s;
    font-family: 'Rubik';
    opacity: 60%;
    font-size: 1rem;
}

.about-event h3 {
    font-family: 'Orbitron';
    margin: 3rem 0;
    transition: all 0.5s;
    font-size: 2.5rem;
    color: white;
}

.about-event ol li {
    margin-left: 3rem;
    width: 74%;
    opacity: 70%;
    font-family: 'Rubik';
    font-size: 1rem;
    text-align: justify;
}

.call-icon-para {
    margin: 2rem 0;
    display: flex;
    gap: 2rem;
    align-items: center;
    width: 100%;
}

.call-icon-para img {
    border: 1.5px solid var(--accent-color);
    background-color: black;
    transition: all 0.5s;
    padding: .5rem;
    border-radius: 50%;
}

.call-icon-para div p {
    transition: all 0.5s;
    font-size: 1rem;
    width: 100%;
    color: var(--accent-color);
    opacity: 100%;
}

.about-event a {
    background-color: var(--accent-color);
    color: black;
    width: 6rem;
    text-align: center;
    font-family: 'Rubik';
    border-radius: 0.3rem;
    transition: all 0.5s;
    padding: 0.5rem 0.9rem;
}

.event-name {
    margin-top: 2rem;
    color: white;
    text-transform: capitalize;
}

.about-event a:hover {
    transition: all 0.5s;
    background-color: black;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.event-card {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
}
.card-image {
    width: 20rem;
    transition: all .7s;
    border: 2px solid var(--accent-color);
}
.event-name {
    font-size: 1.5rem;
    font-family: 'Rubik';
    position: relative;
    color: var(--accent-color);
    text-align: center;
}

.about-event div h4 {
    font-size: 1rem;
    font-family: 'Rubik';
    margin: 0.5rem 0;
}

@media only screen and (max-width: 1500px) {
    .events {
        width: 90%;
    }
}

@media only screen and (max-width: 1300px) {
    .about-event h2 {
        width: 100%;
        font-size: 4rem;
        overflow: hidden;
    }
}

@media only screen and (max-width: 1200px) {
    .about-event h2 {
        font-size: 3rem;
    }
    .about-event p {
        width: 90%;
        font-size: 0.8rem;
    }
    .about-event h3 {
        font-size: 1.5rem;
    }
    .about-event ol li {
        width: 83%;
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 1000px) {
    .about-event h2 {
        font-size: 2.8rem;
        margin: 1.5rem 0;
    }
    .about-event p {
        width: 90%;
        font-size: 0.75rem;
    }
    .about-event h3 {
        font-size: 1.2rem;
        margin: 1rem 0;
    }
    .about-event ol li {
        width: 81%;
        font-size: 0.75rem;
    }
    .home-title {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 900px) {
    .about-event h2 {
        font-size: 2.6rem;
        margin: 1.5rem 0;
    }
    .about-event p {
        width: 90%;
        font-size: 0.7rem;
    }
    .about-event h3 {
        font-size: 1rem;
        margin: 1rem 0;
    }
    .about-event ol li {
        width: 78%;
        font-size: 0.7rem;
    }
    .home-title {
        font-size: 2.7rem;
    }
    .event-card img {
        width: 18rem;
    }
}

@media only screen and (max-width: 800px) {
    .about-event h2 {
        font-size: 2.2rem;
        margin: 1.5rem 0;
    }
    .about-event p {
        width: 90%;
        font-size: 0.65rem;
    }
    .about-event h3 {
        font-size: 1rem;
        margin: 1rem 0;
    }
    .about-event ol li {
        width: 78%;
        font-size: 0.65rem;
    }
    .home-title {
        font-size: 2.5rem;
    }
    .event-card img {
        width: 15rem;
    }
}

@media only screen and (max-width: 700px) {
    .events {
        flex-direction: column-reverse;
    }
    .call-icon-para {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-event a {
        margin: 0 auto;
    }
    .about-event h2 {
        font-size: 2rem;
        margin: 1.5rem 0;
    }
    .about-event p {
        width: 90%;
        font-size: 0.8rem;
    }
    .about-event h3 {
        font-size: 1rem;
        margin: 1rem 0;
    }
    .about-event ol li {
        width: 78%;
        font-size: 0.8rem;
    }
    .home-title {
        font-size: 2.3rem;
    }
    .event-card img {
        width: 15rem;
        margin: 0 auto;
    }
}