#preloader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    z-index: 1;
    transition: all 1s;
}

#preloader-video-mobile {
    display: none;
}

.desktop-bg-video {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.mobile-bg-video {
    display: none;
}

.above-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: relative;
    color: var(--txt-color);    
    transition: all 0.5s;
    height: 80vh;
}

.above-video img {
    width: 15rem;
    border-radius: 50%;
    opacity: 85%;
    transition: all 0.5s;
}

.above-video h1 {
    font-size: 4.5rem;
    font-family: 'Orbitron';
    transition: all 0.5s;
    font-weight: 300;
}

.above-video div:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.above-video div:nth-child(3) h3 {
    font-size: 1.8rem;
    font-family: 'Roboto';
    transition: all 0.5s;
    text-transform: capitalize;
}

.above-video div:nth-child(3) p {
    font-size: 1.5rem;
    font-family: sans-serif;
    color: var(--accent-color);
    transition: all 0.5s;
    text-transform: capitalize;
}

.technical-event {
    display: flex;
    color: white;
    width: 80%;
    gap: 3rem;
    margin: 5rem auto;
}

.technical-event img {
    transition: all 0.5s;
    width: 30rem;
}

.event-discription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event-discription p {
    font-size: 1.5rem;
    text-align: justify;
    width: 90%;
    font-family: 'Rubik';
    opacity: 70%;
    transition: all 0.5s;
}

.event-discription a {
    background-color: var(--accent-color);
    color: black;
    width: 6rem;
    text-align: center;
    font-family: 'Rubik';
    border-radius: 0.3rem;
    transition: all 0.5s;
    padding: 0.5rem 0.9rem;
}

.event-discription a:hover {
    color: var(--accent-color);
    background-color: black;
    border: 1px solid var(--accent-color);
}

.map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.map div a img {
    width: 50rem;
    border-radius: 1rem;
    border: 1px solid var(--accent-color);
    transition: all 0.5s;
    box-shadow: 0 0 10px 1px var(--accent-color);
}

@media only screen and (max-width: 1200px) {
    .above-video img {
        width: 13rem;
    }
    .above-video h1 {
        font-size: 4.3rem;
    }
    .above-video div:nth-child(3) h3 {
        font-size: 1.5rem;
    }
    .above-video div:nth-child(3) p {
        font-size: 1.3rem;
    }
    .event-discription p{
        font-size: 1.3rem;
    }
    .technical-event img {
        width: 28rem;
    }    
    .map div a img {
        width: 45rem;
    }
}
@media only screen and (max-width: 1000px) {
    .above-video img {
        width: 11.5rem;
    }
    .above-video h1 {
        font-size: 4rem;
    }
    .above-video div:nth-child(3) h3 {
        font-size: 1.2rem;
    }
    .above-video div:nth-child(3) p {
        font-size: 1rem;
    }
    .event-discription p{
        font-size: 1.2rem;
    }
    .technical-event img {
        width: 26.5rem;
    }
    .map div a img {
        width: 40rem;
    }
}

@media only screen and (max-width: 900px) {
    .map div a img {
        width: 38rem;
    }
}

@media only screen and (max-width: 800px) {
    .above-video img {
        width: 10rem;
    }
    .above-video h1 {
        font-size: 3.5rem;
    }
    .above-video div:nth-child(3) h3 {
        font-size: 1rem;
    }
    .above-video div:nth-child(3) p {
        font-size: 0.85rem;
    }
    .desktop-bg-video  {
        display: none;
    }
    .mobile-bg-video {
        display: block;
        opacity: 80%;
    }
    .event-discription p{
        font-size: 1rem;
    }
    .technical-event img {
        width: 25rem;
    }
    .technical-event {
        flex-direction: column;
    }    
    .map div a img {
        width: 35rem;
    }
}

@media only screen and (max-width: 700px) {
    .event-discription p{
        font-size: 1.2rem;
    }
    .technical-event img {
        width: 25rem;
    }
    .event-discription a {
        margin-top: 2rem;
    }
    .map div a img {
        width: 30rem;
    }
    #preloader-video-mobile {
        display: block;
        transform: translateY(-7vh);
        filter: grayscale(50%);
    }
    #preloader-video {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .map div a img {
        width: 28rem;
    }
    .technical-event img {
        width: 23rem;
    }
    .home-bold-title {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 450px) {
    .map div a img {
        width: 25rem;
    }
    .technical-event img {
        width: 20rem;
    }
}

@media only screen and (max-width: 400px) {
    .map div a img {
        width: 18rem;
    }
    .technical-event img {
        width: 18rem;
    }
    .home-bold-title {
        font-size: 1.5rem;
    }
}