@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&family=Iceland&family=Orbitron:wght@400;700&family=Roboto&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Zen+Dots&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

:root{
    --bg-color: #000;
    --accent-color:#8dffb3;
    /* --accent-color: skyblue; */
    /* --accent-color: rgb(255, 10, 100); */
    --txt-color:#FFF;
    --zen-font: 'Zen Dots', cursive;
    --pt-sans: 'PT Sans', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
}

header nav ul li {
    list-style-type: none;
    transition: all 0.2s;
}

header {
    background-color: black;
    padding: 3rem;
    width: auto;
    position: relative;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

header nav ul li a {
    font-size: 1.5rem;
    color: var(--txt-color);
    font-family: 'Rubik';
    transition: all 0.5s;
}

header nav ul li a:hover {
    color: var(--accent-color);
}

header nav ul li:hover {
    transform: translateY(5px);
}

.card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 80%;
    margin: 0 auto;
}

.card {
    width: 18rem;
    height: 23rem;
    background-color: #0b0b0b;
    border-radius: .7rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.7s;
    border: 2px solid var(--accent-color);
    transition: all 0.5s;
}

.card:hover {
    box-shadow: 0 0 10px 1px var(--accent-color);
}

.card img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--accent-color);
}

.card .role,
.card .name,
.card .department {
    font-family: var();
    font-size: 1.5rem;
    color: var(--txt-color);
    font-family: var(--pt-sans);
    text-align: center;
}

.card .name {
    color: var(--accent-color);
}

.card .department {
    opacity: 80%;
    font-size: 1rem;
    margin-top: 1rem;
}

.card h2, .card .mailid {
    color: var(--txt-color);
    font-family: 'Rubik';
}

.home-bold-title {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    color: var(--txt-color);
    font-family: 'Rubik';
    text-transform: uppercase;
}

.gray-line {
    margin: 5rem auto;
    width: 80%;
    border: 1px solid white;
    opacity: 80%;
}

.color-line {
    width: 80%;
    margin: 5rem auto;
    border: 1px solid var(--accent-color);
    box-shadow: 0 0 1px 0.5px var(--accent-color);
}

footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    margin: 2rem auto;
}

footer .meida-links {
    display: flex;
    gap: 1.5rem;
}

.footer-icons {
    background-color: var(--accent-color);
    padding: .1rem;
    border-radius: 50%;
}

.footer-icons-start {
    background-color: var(--accent-color);
    border-radius: 50%;
}

#copyright {
    color: whitesmoke;
    font-family: 'Rubik';
    font-size: 1.2rem;
}

@media only screen and (max-width: 800px) {
    header nav ul li a {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 700px) {
    header nav ul li a {
        font-size: 1rem;
    }
    .home-bold-title {
        font-size: 1.3rem;
    }
    .card {
        width: 16rem;
    }
    .card h2 {
        font-size: 1rem;
    }
    .card-section div a {
        padding: 0.2rem 5rem;
        font-size: 1rem;
    }
    .role, .mailid {
        font-size: 0.7em;
    }
    footer {
        gap: 0.8rem;
        width: 80%;
    }
    .gray-line, .color-line {
        width: 70%;
    }
}

@media only screen and (max-width: 600px) {
    header nav ul li a {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 550px) {
    header nav ul li a {
        display: none;
    }
    .mobile-navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        gap: 0.5rem;
    }
    .mobile-navigation div {
        width: 30px;
        height: 2px;
        background-color: var(--accent-color);
    }
    .active {
        position: absolute;
        top: 6rem;
        left: 0;
        right: 0;
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.85);
        height: 450px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .active a {
        display: flex;
        color: white;
        font-size: 1.5rem;
    }
}